/*Componentbased css start*/
.success-iprogressbar{
	text-align: center;
	font-size: 1.8vw;
	color: white;	
	background-color :#5cb85c;
	height:100%;
}
.info-iprogressbar{
	text-align: center;
	font-size: 1.8vw;
	color: white;	
	background-color :#5bc0de;
	height:100%;
}
.warning-iprogressbar{
	text-align: center;
	font-size: 1.8vw;
	color: white;	
	background-color :#f0ad4e;
	height:100%;
}
.danger-iprogressbar{
	text-align: center;
	font-size: 1.8vw;
	color: white;	
	background-color :#d9534f;
	height:100%;
}

.widthAnimate {
    -webkit-animation-name: widthAnimate;
    -moz-animation-name: widthAnimate;
    -o-animation-name: widthAnimate;
    animation-name: widthAnimate;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}



@keyframes widthAnimate {
    from {
        width: 0px;
    }
    to {
        width: -60px;
    }
}

@-webkit-keyframes widthAnimate {
    from {
        width: 0px;
    }
    to {
        width: -60px;
    }
}

@-moz-keyframes widthAnimate {
    from {
        width: 0px;
    }
    to {
        width: -60px;
    }
}

@-o-keyframes widthAnimate {
    from {
        width: 0px;
    }
    to {
        width: -60px;
    }
}

/*Componentbased css end*/